body {
}

body,html {
    height: 100%;
    margin: 0;
}

div.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(180deg, #101010, #10101000);
    background-color: #202020;
}

div.hero {
    text-align: center;
    line-height: 175%;
    padding: 1em 2em 1em 2em;
    font-size: 22pt;
    font-family: 'Montserrat', sans-serif;
    color: #D1DBD9;
    max-width: 60ex;
}

a {
    color: #00DCB1;
    text-decoration: none;
    border-color: #00DCB1 ;
    border-bottom: 0.7px solid;
    display: inline-block;
    line-height: 1.05;
}

div.sub {
    font-size: 16pt;
}

div.hero img {
    max-width: 60%;
}

div.full-width {
    padding: 0;
    width: 100%;
}

div.full-width img {
    width: 100%;
}
